<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4wf2Byj_9IP_J_1sGwNE5CHa0Thi0R-I</string>
	<key>GCM_SENDER_ID</key>
	<string>998701899741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gramo</string>
	<key>PROJECT_ID</key>
	<string>gramo-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>gramo-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998701899741:ios:e4a3b6d7ee4adcd8b06034</string>
</dict>
</plist>